# Project exclude paths
/venv/
.DS_Store
._*
/.idea/
/music/7 PM.mp3
/music/1 AM.mp3
/music/1 PM.mp3
/music/2 AM.mp3
/music/2 PM.mp3
/music/3 AM.mp3
/music/3 PM.mp3
/music/4 AM.mp3
/music/4 PM.mp3
/music/5 AM.mp3
/music/5 PM.mp3
/music/6 AM.mp3
/music/6 PM.mp3
/music/7 AM.mp3
/music/7 PM.mp3
/music/8 AM.mp3
/music/8 PM.mp3
/music/9 AM.mp3
/music/9 PM.mp3
/music/10 AM.mp3
/music/10 PM.mp3
/music/11 AM.mp3
/music/11 PM.mp3
/music/12 AM.mp3
/music/12 PM.mp3
